body {
    font-family: Verdana;
    font-size: 14px;
}

#p1 {
    background-color: black;
    color: white;
    font-family: Courier;
    font-size: 18px;
    padding: 10px;
}

#p2 {
    font-weight: bold;
    color: #ff8000;
}

#p3 {
    background-color: #ffb3b3;
    border: 2px solid red;
    border-radius: 10px;
    padding: 20px;
}